/* tumblr controls */

iframe.tmblr-iframe {
    z-index: 99999999999999 !important;
    transform: scale(0.8, 0.8);
    transform-origin: left top;
    -webkit-transform: scale(0.8, 0.8);
    -webkit-transform-origin: left top;
    -o-transform: scale(0.8, 0.8);
    -o-transform-origin: left top;
    -moz-transform: scale(0.8, 0.8);
    -moz-transform-origin: left top;
    -ms-transform: scale(0.8, 0.8);
    -ms-transform-origin: left top;
}


.tmblr-iframe-compact .tmblr-iframe--unified-controls {
    width: 110% !important;
}

.iframe-controls--phone-mobile,
.tmblr-iframe--app-cta-button,
.tmblr-iframe:not(#new-tumblr-controls) {
    visibility: hidden !important;
    display: none !important;
}

.iframe-container,
iframe#new-tumblr-controls {
    background-color: rgb(var(--bgcolor));
    width: 110% !important;
    height: 54px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

/* html */

html {
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-wrap: balance;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    hing: grayscale;

}

body {
    margin: 0 !important;
    line-height: 1.8em !important;
    letter-spacing: 0.4px !important;
    word-wrap: break-word !important;
}

img{
    max-width:100%;
    height:auto;
}

/* links */

a,
a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
    transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
}

/* text */

pre,
code {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

pre {
    font: 0.9em monospace !important;
    letter-spacing: 0.07rem !important;
    line-height: 1.8em !important;
}

blockquote {
    padding: 0 16px;
    margin: 5px 0;
    border-left: 1px solid rgb(var(--bordercolor));
}

h1,
h2,
h3,
h4 {
    font-size: 1.2em;
    font-weight: var(--boldfont);
}

small,
sub,
sup {
    font-size: 0.9em;
    vertical-align: baseline;
}

b,
strong {
    font-weight: var(--boldfont);

}

i,
em {
    font-style: italic;
}

/* lists */

ol,
ul {
    list-style: none;
    padding-left: 0;
    text-align: left;
}

ol li,
ul li {
    position: relative;
    margin: 0;
    padding: 0 0 0 1.5em;
}

ol li {
    counter-increment: list;
}

ul li {
    padding-left: 1.2em;
}

ol li:before,
ul li:before {
    position: absolute;
    top: 0;
    left: 0;
}

ol li:before {
    content: counter(list, lower-alpha) '.';
}

ul li:before {
    content: '';
    background-color: rgb(var(--textcolor));
    width: 6px;
    height: 1px;
    top: calc(var(--fontsize) - 2px);
}

/* media */

.photo {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.photo img,
.tmblr-full img {
    width: 100%;
    display: block;
}

/* photosets */

.slick-dotted.slick-slider {
    margin: 0 !important;
}

.fade {
    position: relative;
    z-index: 3 !important;
}

.fade * {
    outline: none !important;
}

.slick-slide img {
    width: 100%;
}

.slick-prev,
.slick-next {
    width: 0 !important;
    height: 0 !important;
	border: 26px solid transparent !important;
    z-index: 2 !important;
}

.slick-prev {
	border-left-color: rgb(var(--bgcolor)) !important;
	border-right: 0 !important;
}

.slick-next {
	border-right-color: rgb(var(--bgcolor)) !important;
	border-left: 0 !important;
}

.slick-prev:before,
.slick-next:before {
    opacity: 1 !important;
    margin-top: -4px !important;
    font: 10px 'honeybee' !important;
    color: rgb(var(--textcolor)) !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
}

.slick-prev:before {
    content: '\ebb9' !important;
    margin-left: -24px !important;
}

.slick-next:before {
    content: '\ebc6' !important;
    margin-left: 14px !important;
}

.slick-prev{
    left: 0 !important;
}

[dir='rtl'] .slick-prev {
    right: 0 !important;
}

.slick-next {
    right: 0 !important;
}

[dir='rtl'] .slick-next {
    left: 0 !important;
}

/* audio */

.audio-media {
    width: 100% !important;
    height: 85px !important;
    margin: 0 !important;
    overflow: hidden !important;
}

.audio-media iframe {
    width: 100% !important;
    margin: 0 !important;
}

.soundcloud_audio_player {
    max-height: 116px !important;
}

.spotify_audio_player {
    max-height: 80px !important;
}

/* video */

.video * {
    display: block;
    min-width: 100%;
}
