/*tumblr controls*/

.tmblr-iframe-compact .tmblr-iframe--unified-controls {
    width: 100% !important;
}

.iframe-controls--phone-mobile,
.tmblr-iframe--app-cta-button,
.tmblr-iframe:not(#new-tumblr-controls) {
    visibility: hidden !important;
    display: none !important;
}

.iframe-container,
iframe#new-tumblr-controls {
    background: rgb(var(--color-footer-bg)) !important;
    width: 100% !important;
    height: 54px;
    margin: 0;
    position: relative;
    z-index: 10;
}

/*basics*/

body {
    font: var(--Font-Size) var(--Font-Family);
    color: rgb(var(--color-text));
    background-color: rgb(var(--color-bg));
}

body.overflow {
    overflow: hidden;
}

a {
    color: rgb(var(--color-link));
    background: linear-gradient(rgba(var(--color-link-accent), 0.3), rgba(var(--color-link-accent), 0.3)) 0 86%/100% 0.4em no-repeat;
}

a:hover {
    color: rgb(var(--color-link-accent));
    background-size: 100% 0;
}

/*selection*/

::selection {
    color: inherit;
    background-color: rgba(var(--color-selection-bg), 0.1);
}

::-moz-selection {
    color: inherit;
    background-color: rgba(var(--color-selection-bg), 0.1);
}

/*tooltip*/

.tooltipster-noir .tooltipster-box {
    background-color: rgba(var(--color-tooltip-bg), 0.9) !important;
    border: 1px solid rgb(var(--color-tooltip-border)) !important;
    border-radius: 0.3em !important;
}

.tooltipster-noir .tooltipster-content {
    padding: 0.6em !important;
    color: rgb(var(--color-tooltip-content)) !important;
    font: 0.8em var(--Font-Family) !important;
    text-transform: var(--tooltip-casing);
}

/*content*/

main {
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: -webkit-column;
    flex-direction: column;
    justify-content: flex-start;
    -webkit-flex-align: center;
    align-items: center;
}

/*header*/

header {
    background-color: transparent !important;
    width: 100%;
    margin-bottom: 0;
    padding: 1em 2em;
    box-sizing: border-box;
    text-align: right;
    position: relative;
}

header a,
.mode-toggle {
    background-image: none;
    display: inline-block;
    margin-right: 1.2em;
    color: rgb(var(--color-text));
    text-transform: lowercase;
    position: relative;
    z-index: 15;
}

header a:last-of-type {
    margin-right: 0;
}

.mode-toggle {
    width: 35px;
    height: 20px;
    vertical-align: middle;
    margin-left: 2em;
    border-radius: 3em;
}

.mode-toggle input[type="checkbox"] {
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mode-toggle span {
    background-color: rgb(var(--color-toggle-bg));
    border: 1px solid rgb(var(--color-toggle-border));
    border-radius: 3em;
    overflow: hidden;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.2s ease background-color, 0.2s ease opacity;
}

.mode-toggle span:before,
.mode-toggle span:after {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 0;
    transition: 0.5s ease transform, 0.2s ease background-color;
}

.mode-toggle span:before {
    background-color: rgb(var(--color-toggle-bg));
    transform: translate(-12px, 0);
    z-index: 2;
}

.mode-toggle span:after {
    background-color: rgb(var(--color-toggle-border));
    transform: translate(3px, 0);
    z-index: 1;
}

.mode-toggle input[type="checkbox"]:checked+span {
    background-color: rgb(var(--color-toggle-bg));
}

.mode-toggle input[type="checkbox"]:active+span {
    opacity: 0.5;
}

.mode-toggle input[type="checkbox"]:checked+span:before {
    transform: translate(13px, -4px);
}

.mode-toggle input[type="checkbox"]:checked+span:after {
    background-color: rgb(var(--color-toggle-accent));
    transform: translate(18px, 0);
}

/*post*/

section {
    width: 540px;
    margin: calc(var(--post-spacing) / 2) 0 var(--post-spacing);
    padding: 0;
}

article {
    background-color: rgb(var(--color-post-bg));
    width: 100%;
    margin: 0 0 var(--post-spacing);
    padding: 0;
    position: relative;
}

article.round {
    border-radius: 1em !important;
    overflow: hidden;
}

article.type-Link .fa-file-alt:before {
    content: '\f0c1';
}

article.type-Photo .fa-file-alt:before {
    content: '\f8c4';
}

article.type-Photoset .fa-file-alt:before {
    content: '\f302';
}

article.type-Quote .fa-file-alt:before {
    content: '\f10d';
}

article.type-Chat .fa-file-alt:before {
    content: '\f086';
}

article.type-Audio .fa-file-alt:before {
    content: '\f001';
}

article.type-Video .fa-file-alt:before {
    content: '\f03d';
}

article.type-Question .fa-file-alt:before {
    content: '\f059';
}

article.is-pinned .fa-file-alt:before {
    content: '\f08d';
}

article:last-of-type {
    margin-bottom: 0;
}

/*text posts*/

.title {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
    font: 1.2em var(--Font-Family) !important;
    font-weight: var(--Bold-Font) !important;
}

article>.user-data~.title {
    padding-top: 0 !important;
}

.text {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: justify;
}

article>.caption:not(.replies)>.text>blockquote,
article>.caption:not(.replies)>.text>p:not(.npf_chat):not(.npf_quote),
article>.caption:not(.replies)>.text>h1,
article>.caption:not(.replies)>.text>h2,
article>.caption:not(.replies)>.text>h3,
article>.caption:not(.replies)>.text>h4,
article>.caption:not(.replies)>.text>h5,
article>.caption:not(.replies)>.text>h6,
article>.caption:not(.replies)>.text>ol,
article>.caption:not(.replies)>.text>ul {
    padding: 0 1em;
    box-sizing: border-box;
}

.npf_color_joey {
    color: #FF4136 !important;
}

.npf_color_monica {
    color: #FF851B !important;
}

.npf_color_phoebe {
    color: #FFDC00 !important;
}

.npf_color_ross {
    color: #2ECC40 !important;
}

.npf_color_rachel {
    color: #0074D9 !important;
}

.npf_color_chandler {
    color: #B10DC9 !important;
}

.npf_color_niles {
    color: #F012BE !important;
}

.npf_color_frasier {
    color: #001f3f !important;
}

.npf_color_mr_big {
    color: #111111 !important;
}

.tmblr-attribution {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: right;
}

.tmblr-attribution a {
    background-image: none !important;
    font-weight: var(--Bold-Font);
}

.updates {
    display: block;
    width: 100%;
    margin-top: 1em;
    padding-top: 0.9em;
    border-top: 1px solid rgb(var(--color-borders));
}

.read_more {
    background: rgb(var(--color-link-accent));
    background: -moz-linear-gradient(top, rgba(var(--color-link-accent), 0) 0%, rgba(var(--color-link-accent), 0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(var(--color-link-accent), 0) 0%, rgba(var(--color-link-accent), 0.65) 100%);
    background: linear-gradient(to bottom, rgba(var(--color-link-accent), 0) 0%, rgba(var(--color-link-accent), 0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    display: block;
    width: 100%;
    margin: -5em 0 0;
    padding: 1.5em 1em 1em;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    color: rgb(var(--color-link-accent));
    font-weight: var(--Bold-Font);
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.read_more:hover {
    background: rgba(var(--color-link-accent), 0.65);
    color: white;
    transition: all 0.3s ease-in-out;
}

/*link post*/

.link-wrapper {
    background-image: none;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid rgb(var(--color-borders));
    box-sizing: border-box;
    position: relative;
}

.link-wrapper:hover .link {
    color: rgb(var(--color-link-accent));
}

.thumbnail {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.link {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
    color: rgb(var(--color-text));
}

.link>.title {
    padding: 0;
    margin-bottom: 0.6em;
}

.link>.link-host {
    display: block;
    margin-top: 1em;
    text-align: left;
    font-size: 0.9em;
    font-weight: 0.6em;
    color: rgb(var(--color-link-accent));
    text-transform: uppercase;
}

.npf-link-block {
    border-color: rgb(var(--color-borders)) !important;
    border-radius: 0 !important;
    margin: 0 !important;
}

.npf-link-block a {
    background-image: none;
}

.npf-link-block.no-poster a:hover .title,
.npf-link-block a:hover .bottom .description {
    color: rgb(var(--color-link-accent)) !important;
}

.npf-link-block.no-poster .title {
    padding: 1em 1em 0 !important;
    color: rgb(var(--color-text)) !important;
}

.npf-link-block .title {
    font-size: 1.2em !important;
}

.npf-link-block .bottom {
    padding: 1em !important;
}

.npf-link-block .bottom .description {
    font-size: var(-Font-Size) !important;
    color: rgb(var(--color-text)) !important;
}

.npf-link-block .bottom .site-name {
    color: rgb(var(--color-link-accent)) !important;
    font-size: 0.9em !important;
    font-weight: var(--Bold-Font) !important;
    margin-top: 1em !important;
}

/*quote post*/

.npf_quote {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 1em;
    box-sizing: border-box;
    font-size: 1.2em;
}

#s {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1em 1em 0;
    box-sizing: border-box;
    position: relative;
}

#s:before {
    content: '\2014';
    display: inline-block;
    margin-right: 5px;
}

/*chat post*/

.npf_chat {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 1em 1em;
    box-sizing: border-box;
    font: var(--Font-Size) var(--Font-Family) !important;
}

.npf_chat:last-of-type {
    padding-bottom: 0;
}

.npf_chat b {
    font-weight: var(--Bold-Font) !important;
    color: rgb(var(--color-accent)) !important;
}

/*question post*/

.ask-wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.question,
.replies {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1em 1em 0 !important;
    box-sizing: border-box;
}

.question {
    padding-bottom: 1em !important;
    border: 1px solid rgb(var(--color-borders));
}

/*caption*/

.caption {
    list-style: none;
    margin: 0 0 0.6em;
    padding: 0;
}

.pp>.caption:not(.ted) {
    padding-top: 1em;
}

.caption:last-of-type {
    margin-bottom: 0;
}

.caption-wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
}

.caption-wrapper blockquote {
    margin: 0 !important;
}

article:not(.type-Question) .caption:first-of-type .user {
    display: none;
}

article>.caption:not(.replies)>.user {
    margin-left: 1em;
}

.user {
    display: inline-block;
    vertical-align: baseline;
    font-weight: var(--Bold-Font);
}

a.user,
.user a {
    color: rgb(var(--color-user));
    background-image: none;
}

.user-avatar {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 0.5em;
    border-radius: 0.3em;
}

.user-data {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
    position: relative;
}

.user-data .user-avatar {
    padding: 3px;
    border: 1px solid rgba(var(--color-user), 0.5);
    border-radius: 50%;
}

.user-data .time-ago {
    background-image: none;
    color: rgb(var(--color-text));
    position: absolute;
    top: 1em;
    right: 1em;
}

/*permalink*/

.permalink {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
    text-align: left;
    position: relative;
}

article>.caption-wrapper~.permalink {
    padding-top: 0;
}

.permalink .far {
    margin-right: 0.6em;
}

.permalink a {
    background: none;
    display: inline-block;
    margin-right: 1.2em;
    position: relative;
}

.permalink a:last-of-type {
    margin-right: 0;
}

.permalink .notecount:after {
    content: ')';
}

/*tags*/

.tags:not(.show) {
    display: none !important;
}

.tags.show {
    display: block;
    width: 100%;
    margin: 0;
    position: relative;
}

.tags.show.divider:before {
    content: '';
    background-color: rgb(var(--color-link));
    display: inline-block;
    width: 1em;
    height: 1px;
    vertical-align: middle;
    margin-right: 1.2em;
    user-select: none;
}

.tags.show.divider {
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin: 0 0 0 1.2em;
}

.tags a {
    display: none;
}

.tags a:hover {
    text-decoration: underline;
}

/*like button*/

.like-b {
    height: 2em;
    vertical-align: top;
    padding: 0;
    overflow: hidden;
}

.like-b .like_button iframe {
    width: 100%;
    height: 100%;
    opacity: 0.0000001;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

/*post notes*/

.post_notes {
    display: block;
    width: 100%;
    margin-top: 0.6em;
}

.info {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: -webkit-row;
    flex-direction: row;
    justify-content: flex-start;
    -webkit-flex-align: flex-start;
    align-items: flex-start;
}

.info .info_content {
    width: 100%;
    margin: 0;
    padding: 0.6em;
    box-sizing: border-box;
    font-size: 0.7em;
    font-weight: var(--Bold-Font);
    text-align: center;
    text-transform: uppercase;
}

.info.no.ed.sr .info_content {
    width: calc(100% / 4);
}

.info.no.ed .info_content,
.info.no.nr .info_content,
.info.ed.sr .info_content {
    width: calc(100% / 3);
}


.info_content .fal {
    display: block;
    margin: 0 auto 5px;
}

.info_content a {
    background: none;
}

ol.notes {
    width: 100%;
    margin: 0;
    padding: 1em 0 1em 1.5em;
    box-sizing: border-box;
}

ol.notes li.note {
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: top;
    margin: 0 1em 1em 0;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(var(--color-borders));
    border-radius: 10%;
}

ol.notes li.note:before {
    content: '';
    font: 0.6em 'Font Awesome 5 Pro';
    font-weight: 300;
    color: white;
    display: block;
    width: 1.9em;
    height: 1.9em;
    margin: 0;
    padding: 4px 0 0 4px;
    box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    right: -5px;
    bottom: -5px;
}

ol.notes li.note.reblog:before {
    content: '\f363';
    background-color: #001f3f;
}

ol.notes li.note.like:before {
    content: '\f004';
    background-color: #FF4136;
}

ol.notes li.note.original_post:before {
    display: none;
}

ol.notes li.note .action,
ol.notes li.note blockquote {
    display: none;
}

ol.notes li.note a {
    background-image: none;
}

ol.notes li.note img.avatar {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 10%;
}

ol.notes li.note.more_notes_link_container {
    width: 100%;
    height: auto !important;
    margin: 0.6em 0 0 0;
    padding: 0;
    border: 0;
    border-radius: 0;
}

.more_notes_link,
.notes_loading {
    display: block;
    color: rgb(var(--color-link)) !important;
    font-size: 1.2em !important;
    font-weight: var(--Bold-Font) !important;
    text-align: left !important;
}

/*pagination*/

footer {
    margin-top: auto;
    background-color: rgb(var(--color-footer-bg));
    width: 100%;
    padding: calc(var(--post-spacing) / 2) 0 var(--post-spacing);
    border-top: 1px solid rgb(var(--color-footer-borders));
    box-sizing: border-box;
}

.main {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.main li:before {
    display: none;
}

.main li {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 5;
}

.main .pagination {
    width: calc(100% / 3);
    padding-right: 5%;
}

.main .links {
    width: calc((100% - 10px) / 2);
    padding-right: 10%;
}

.main.has-pages .links {
    width: calc((100% - 30px) / 3);
}

.main .desc {
    width: calc(100% / 2);
}

.main.has-pages .desc {
    width: calc(100% / 3);
}

.main-item .far,
.main-item .current {
    background-color: transparent;
    display: block;
    width: 1em;
    height: 1em;
    margin: 0 0 1.2em;
    padding: 0;
    font-size: 1.2em;
    font-weight: 400;
    color: rgb(var(--color-link));
    position: relative;
}

.main-item .far:after,
.main-item .current:after {
    content: '';
    background-color: rgb(var(--color-accent));
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 0.5em;
    left: 0.5em;
}

.main-item a {
    background-image: none;
    display: block;
    max-width: 100%;
    min-width: 10px;
    margin: 0 0 5px 1.2em;
    font-weight: var(--Bold-Font);
}

.main-item a:last-of-type {
    margin-bottom: 0;
}

.pagination a {
    opacity: 0.3;
    position: relative;
}

.pagination a.active {
    opacity: 1;
}

.pagination a.prev:before,
.pagination a.next:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    font: 1em 'Font Awesome 5 Pro';
}

.pagination a.prev:before {
    content: '\f0d9';
    margin-right: 5px;
}

.pagination a.next:after {
    content: '\f0da';
    margin-left: 5px;
}
