/*tumblr controls*/

iframe.tmblr-iframe{
    right:95px;
    padding-right:2em;
    opacity:0.0000001;
    filter:contrast(150%) invert(100%);
    -webkit-filter:contrast(150%) invert(100%);}
    iframe.tmblr-iframe:hover{
        opacity:1!important;
        transition:all .3s linear;    
        -o-transition:all .3s linear;
        -moz-transition:all .3s linear;  
        -webkit-transition:all .3s linear;
    }

.cc{
    width:1em;
    height:1em;
    position:fixed;
    z-index:15;
    top:15px; right:105px;
    color:rgb(var(--Text));
}

/*basics*/

body{
    background:rgb(var(--Background));
    font:normal 1em/normal 'Computer Modern Sans', sans-serif;
    color:rgb(var(--Text));
}


a{
    color:rgb(var(--Link));
    font-weight:bold;
    background:linear-gradient(rgb(var(--Link)),rgb(var(--Link)))0 96%/100% 1px no-repeat;}
    a:hover{background-size:0 1px;}

ul li:before{
    content:'';
    display:inline-block;
    width:10px;
    height:1px;
    vertical-align:middle!important;
    opacity:.8;
    background:rgb(var(--Text));
}

/*content*/

main{
    width:calc(100vw - 90px);
    min-height:100vh;
    padding:0;
    margin:0;
    display:-webkit-flex;
    display:flex;
    flex-wrap:wrap;
    flex-direction:-webkit-column;
    flex-direction:column;
    justify-content:flex-start;
    -webkit-flex-align:flex-start;
    align-items:flex-start;
}

/*sidebar*/

aside{
    width:90px;
    height:100%;
    position:fixed;
    z-index:15;
    right:0;
    margin:0;
    box-sizing:border-box;
    background:rgb(var(--Sidebar-Background));
    display:-webkit-flex;
    display:flex;
    flex-wrap:wrap;
    flex-direction:-webkit-column;
    flex-direction:column;
    justify-content:center;
    -webkit-flex-align:center;
    align-items:center;
}

.side-item{
    color:rgba((var(--Sidebar-Content)),0.65);
    background:none;
    margin-bottom:25px;
    cursor:pointer;}
    .side-item svg{
        width:1.2em;
        height:1.2em;}
    .side-item.active, .search.active{color:rgb(var(--Sidebar-Accent));}
    .side-item:not(.active):hover{color:rgba((var(--Sidebar-Content)),1);}
    .side-item:last-child{margin:0;}

.toggle{
    position:relative;
    width:1em;
    height:1em;}
    .toggle span{
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
        position:absolute;
        top:50%; left:0;}
    .toggle span, .toggle span::before, .toggle span::after{
        display:block;
        width:100%;
        height:2px;
        background-color:rgba((var(--Sidebar-Content)),0.65);
        outline:1px solid transparent;
        -webkit-transition-property:background-color, -webkit-transform;
        -moz-transition-property:background-color, -moz-transform;
        -o-transition-property:background-color, -o-transform;
        transition-property:background-color, transform;
        -webkit-transition-duration:0.3s;
        -moz-transition-duration:0.3s;
        -o-transition-duration:0.3s;
        transition-duration:0.3s;}
        .toggle span::before, .toggle span::after {
            position:absolute;
            content:'';}
        .toggle span::before{top:-8px;}
        .toggle span::after{top:8px;}
    .toggle:hover span, .toggle:hover span::before, .toggle:hover span::after{background-color:rgba((var(--Sidebar-Content)),1);}
    .toggle.active span {background-color:transparent;}
    .toggle.active span::before{
        -webkit-transform:translateY(8px) rotate(45deg);
        -moz-transform:translateY(8px) rotate(45deg);
        -ms-transform:translateY(8px) rotate(45deg);
        -o-transform:translateY(8px) rotate(45deg);
        transform:translateY(8px) rotate(45deg);}
    .toggle.active span::after{
        -webkit-transform:translateY(-8px) rotate(-45deg);
        -moz-transform:translateY(-8px) rotate(-45deg);
        -ms-transform:translateY(-8px) rotate(-45deg);
        -o-transform:translateY(-8px) rotate(-45deg);
        transform:translateY(-8px) rotate(-45deg);}
    .toggle.active span:before, .toggle.active span:after{background-color:rgb(var(--Sidebar-Accent));}

/*navigation*/

nav{
    background-color:rgb(var(--Content));
    position:fixed;
    z-index:9;
    top:0; right: 0;
    height:100%;
    max-width:500px;
    width:100%;
    padding:2em calc(90px + 2em) 2em 2em;
    overflow-y:auto;
    -webkit-transform:translateX(100%);
    -moz-transform:translateX(100%);
    -ms-transform:translateX(100%);
    -o-transform:translateX(100%);
    transform:translateX(100%);
    -webkit-transition:transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition:transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition:transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition:transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);}
    nav.show{
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);}
    nav.show ol.main li{
        -webkit-transform:translateX(0px);
        -moz-transform:translateX(0px);
        -ms-transform:translateX(0px);
        -o-transform:translateX(0px);
        transform:translateX(0px);
        opacity:1;}
    nav.show ol.main li:nth-child(1){transition-delay:0.15s;}
    nav.show ol.main li:nth-child(2){transition-delay:0.3s;}
    nav.show ol.main li:nth-child(3){transition-delay:0.45s;}
    nav.show ol.main li:nth-child(4){transition-delay:0.6s;}
    nav.show ol.main li:nth-child(5){transition-delay:0.75s;}
    nav.show ol.main li:nth-child(6){transition-delay:0.9s;}
    nav.show ol.main li:nth-child(7){transition-delay:1.05s;}
    nav.show ol.main li:nth-child(8){transition-delay:1.2s;}
    nav.show ol.main li:nth-child(9){transition-delay:1.35s;}
    nav.show ol.main li:nth-child(9){transition-delay:1.35s;}
    nav.show ol.main li:nth-child(10){transition-delay:1.5s;}

.main{
    width:100%;
    height:100%;
    list-style-type:none;
    display:-webkit-flex;
    display:flex;
    flex-wrap:wrap;
    flex-direction:-webkit-column;
    flex-direction:column;
    justify-content:center;
    -webkit-flex-align:flex-end;
    align-items:flex-end;}
    .main li:before{display:none;}
    .main li{
        margin-bottom:10px;
        opacity:0;
        text-align:right;
        -webkit-transition:all 0.3s ease;
        -moz-transition:all 0.3s ease;
        -o-transition:all 0.3s ease;
        transition:all 0.3s ease;}
        .main li:last-of-type{margin-bottom:0;}
        .main li a{
            color:{color:navigation color link};
            background:none;}
        .main li a.active{
            background-color:rgb(var(--Navigation-Link-accent-Background));
            color:rgb(var(--Navigation-Link-accent-Color));}
        .main li a:not(.active):hover{color:rgb(var(--Navigation-Link-Hover-Color));}

/*post*/

section{
    margin:70px auto;
    width:540px;
}

article{
    width:100%;
    position:relative;}
    article:not(.pp){margin-bottom:100px;}
    article:last-of-type{margin-bottom:0;}

.search_page{
    font-size:1.2em;
    padding:15px;
    box-sizing:border-box;
    background:rgb(var(--Content));
    margin-bottom:50px;}
    .search_page .search_query{
        font-weight:bold;
        color:rgb(var(--Accent));
    }

.fade {
    position:relative;
    z-index:3!important;    
}

.slick-slide img{width:100%;}

.slick-dots{
    width:100%;
    text-align:center;
    margin:0;
    padding:0;
    bottom:-28px; left:50%;
    position:absolute;
    z-index:3;
    transform:translatex(-50%);
    -webkit-transform:translatex(-50%);
    -moz-transform:translatex(-50%);}
    .slick-dots li:before{display:none;}
    .slick-dots li{
        display:inline-block;
        margin:0 10px;
        padding:0;}
        .slick-dots li button{
            font-size:0;
            line-height:0;
            background:none;
            display:block;
            width:8px;
            height:8px;
            padding:0;
            margin:0;
            position:relative;
            cursor:pointer;
            border:0;
            outline:none;
            border-radius:50%;
            -webkit-border-radius:50%;}
            .slick-dots li button:before{
                content:'';
                position:absolute;
                z-index:2;
                top:0; left:0;
                width:4px;
                height:4px;
                background:rgb(var(--Text));
                -webkit-border-radius:50%;
                border-radius:50%;
                -webkit-transition:all .2s ease-in-out;
                transition:all .2s ease-in-out;
                -webkit-transform:translateX(50%) translateY(50%);
                -moz-transform:translateX(50%) translateY(50%);
                -ms-transform:translateX(50%) translateY(50%);
                -o-transform:translateX(50%) translateY(50%);
                transform:translateX(50%) translateY(50%);}
    .slick-dots li.slick-active button:before{
        top:0; left:0;
        width:8px;
        height:8px;
        background:none;
        border:1px solid rgb(var(--Text));
        -webkit-transform:translateX(0%) translateY(0%);
        -moz-transform:translateX(0%) translateY(0%);
        -ms-transform:translateX(0%) translateY(0%);
        -o-transform:translateX(0%) translateY(0%);
        transform:translateX(0%) translateY(0%);
    }

/*quote*/

.quote{
    display:block;
    width:100%;
    margin:0 0 15px;
    padding:0;
    box-sizing:border-box;
    color:rgb(var(--Text));
    font-weight:bold;
    font-size:1.2em;
    line-height:1.6em;
}

#s{
    display:block;
    width:100%;
    box-sizing:border-box;
    border-top:1px solid rgb(var(--Borders));
    padding:0 0 15px;
    word-break:break-word;}
    #s span{
        max-width:100%;
        border-top:2px solid rgb(var(--Accent));
        margin-top:-1px;
        padding-top:10px;
        display:inline-block;
        position:relative;}

/*text and link post*/

.title{
    display:block;
    width:100%;
    padding:0;
    box-sizing:border-box;
    position:relative;
    font-weight:bold;
    font-size:1.2em;
}

a.link_post{
    width:100%;
    display:block;
    background:none;
    border:none;}
    a.link_post:hover .link{
        background:rgb(var(--Link-Post-Hover-Background));
        color:rgb(var(--Link-Post-Hover-Content));
        transition:all .3s linear;
    }

.thumbnail{
    display:block;
    width:100%;
    height:auto;
    margin:0;
}

.link{
    width:100%;
    margin:0;
    padding:2em;
    box-sizing:border-box;
    background:rgb(var(--Link-Post-Background));
    color:rgb(var(--Link-Post-Content));
    transition:all .3s linear;
}

.link-host{
    display:block;
    margin-top:1em;
    text-align:left;
    text-transform:uppercase;
}

.text, .asker-question, .replies{
    width:100%;
    display:block;
    margin-top:5px;
    padding:0;
    text-align:justify;
}

/*chat*/

.chat{
    margin:0;
    padding:0;
    list-style:none;
    letter-spacing:.015rem;
    text-align:left;}
    .chat li:before{display:none;}

.l{
    margin:0 0 5px 0;
    padding:5px;
    border-bottom:1px solid rgb(var(--Borders));}
    .l:last-child{margin:0;}

.label{
    font-weight:bold;
    margin-right:5px;
    color:rgb(var(--Accent));
}

/*answer*/

.question{
    width:100%;
    margin:0;
    padding:15px;
    box-sizing:border-box;
    border:1px solid rgb(var(--Borders));
    -webkit-border-radius:10%;
    border-radius:10%;
}

.answer{
    width:100%;
    margin-bottom:10px;
}

/*caption*/

.caption{
    padding:15px 0;
    margin:0;
    border-bottom:1px solid rgb(var(--Borders));
    list-style:none;}
    .ph .caption:first-of-type .user{display:none;}
    .caption:last-of-type{border-bottom:0;}

#user-data{
    width:100%;
    margin-bottom:15px;
}

.user:not(.deactivated), .asker a, .answerer a{
    color:rgb(var(--User));
}

.user, .asker, .answerer{
    display:inline;
    margin:0;
    background:none;
    font-weight:bold;
    color:rgb(var(--Text));
    font-weight:bold;}
    .user.deactivated{
        position:relative;
        cursor:no-drop;
        user-select:none;
        -ms-user-select:none;
        -moz-user-select:none;
        -khtml-user-select:none;
        -webkit-user-select:none;
        -webkit-touch-callout:none;
    }

.user-avatar, .asker-avatar, .answerer-avatar{
    display:inline-block;
    width:30px;
    height:30px;
    vertical-align:middle;
    padding:2px;
    border:1px solid rgb(var(--User));
    margin-right:5px;
    border-radius:50%;
    -webkit-border-radius:50%;
}

/*permalink*/

.permalink{
    width:100%;
    margin-top:10px;
    display:-webkit-flex;
    display:flex;
    flex-wrap:wrap;
    flex-direction:-webkit-row;
    flex-direction:row;
    justify-content:flex-end;
    -webkit-flex-align:center;
    align-items:center;}
    .permalink .dnt{margin-right:auto;}
    .permalink a{
        z-index:3;
        position:relative;
        background:none;
        color:rgb(var(--Text));}
        .permalink a:hover{color:rgb(var(--Content-Accent));}

/*like button*/

a.like-b{
    position:relative;
    margin-right:15px;}
    a.like-b .like_button iframe{
        position:absolute;
        top:0; left:0; bottom:0; right:0;
        z-index:2;
        opacity:0.0000001;}
    a.like-b .liked + .b{color:rgb(var(--Content-Accent));}

/*tags*/

article:not(.edd) .tags{
    margin-top:15px;
    border-top:1px solid rgb(var(--Borders));}

.tags{
    display:block;
    width:100%;
    padding-top:10px;
    margin:0;
    box-sizing:border-box;}
    .tags a{
        display:inline-block;
        margin-right:15px;
        background:none;
        letter-spacing:.01rem;
        font-weight:bold;
        color:rgb(var(--Tag));}
        .tags a:before{
            content:'\0023';
            font-size:0.7rem;}
        .tags a:hover{color:rgb(var(--Text));}
        .tags a:last-of-type{margin-right:0;}
        .tags svg{
            display:inline-block;
            width:1em;
            height:1em;
            vertical-align:middle;
            margin-right:5px;
            color:rgb(var(--Text));
        }

/*notes*/

.post_notes{
    width:100%;
    margin-top:25px;
}

.date{
    width:100%;
    font-weight:bold;
    letter-spacing:0.02rem;
}

.source{
    width:100%;
    margin-top:10px;
    padding-bottom:5px;
    border-bottom:1px solid rgb(var(--Borders));}
    .source svg{
        display:inline-block;
        width:1em;
        height:1em;
        vertical-align:middle;
        margin-right:5px;}
    .source a{
        color:rgb(var(--Accent));
        background:none;
    }

ol.notes {
    width:100%;
    margin-top:10px;
    list-style-type:none;}
    ol.notes li:before{display:none;}
    ol.notes li.note{padding:0 0 10px;}
    ol.notes li.note.more_notes_link_container{
        width:100%;
        padding:0;
        margin:15px 0 0 0;}
    ol.notes li.note a{background:none;}
    ol.notes li.note a:first-of-type{
        font-weight:bold;
        color:rgb(var(--Accent));}
    ol.notes li.note img.avatar{
        display:inline-block;
        width:16px;
        height:16px;
        vertical-align:middle;
        -webkit-border-radius:100%;
        border-radius:100%;
        margin-right:16px;
    }

.more_notes_link, .notes_loading{
    display:block;
    color:rgb(var(--Link));!important;
    font-weight:500!important;
    text-align:left!important;
}

/*pagination*/

footer{
    margin-top:auto;
    margin-right:auto;
    margin-left:auto;
    padding-bottom:50px;
    width:540px;
    text-align:center;
    text-transform:capitalize;
    display:-webkit-flex;
    display:flex;
    flex-wrap:wrap;
    flex-direction:-webkit-row;
    flex-direction:row;
    justify-content:center;
    -webkit-flex-align:flex-start;
    align-items:flex-start;}
    footer a{
        background:none;
        font-weight:lighter;
        color:rgb(var(--Text));}
        footer a:hover{color:rgb(var(--Accent));}

.pagination{
    text-align:center;
    margin:0 auto;
    padding:50px 0 35px;}
    .pagination a{
        color:rgb(var(--Text));
        font-size:1.2em;
        opacity:0.5;
        background:none;
        display:inline-block;
        margin-right:4em;}
        .pagination a#prev:before{
            content:'\1f81c';
            display:inline;
            margin-right:5px;}
        .pagination a#next:after{
            content:'\1f81e';
            margin-left:5px;}
        .pagination a:last-of-type{margin-right:0;}
    .pagination a.active{
        font-weight:bold;
        opacity:1;
        background:-webkit-gradient(linear, left top, right top, from(rgb(var(--Accent))), color-stop(50%, rgb(var(--Accent))), color-stop(50%, rgb(var(--Text))));
        background:linear-gradient(to right, rgb(var(--Accent)), rgb(var(--Accent)) 50%, rgb(var(--Text)) 50%);
        background-clip:text;
        -webkit-background-clip:text;
        -webkit-text-fill-color:transparent;
        background-size:200% 100%;
        background-position:100%;
        -webkit-transition:background-position 275ms ease;
        transition:background-position 275ms ease;}
        .pagination a.active:hover{background-position: 0 100%;}

#stext{padding:0 20px 0 0;}

/*search*/

#search{
    width:70px;
    position:relative;
    padding:0 0 0 20px;}
    #search input{
        border:0;
        outline:0;
        width:100%;
        background-color:transparent;
        box-sizing:border-box;
        display:inline-block;
        vertical-align:middle;
        margin:0;
        padding:0;
        text-align:left;
        font:normal 1em/normal 'Computer Modern Sans', sans-serif;
        color:rgb(var(--Text));}
    #search input[type=text]{
        color:rgb(var(--Text));
        -webkit-appearance:textfield;
        -moz-box-sizing:content-box;
        -webkit-box-sizing:content-box;
        box-sizing:content-box;}
        #search input::-webkit-input-placeholder{
            color:rgb(var(--Text));
            transition:all .3s linear;
            -webkit-transition:all .3s linear;
            -o-transition:all .3s linear;
            -moz-transition:all .3s linear;}
        #search input::-moz-placeholder{
            color:rgb(var(--Text));
            transition:all .3s linear;
            -webkit-transition:all .3s linear;
            -o-transition:all .3s linear;
            -moz-transition:all .3s linear;}
        #search input:-ms-input-placeholder{
            color:rgb(var(--Text));
            transition:all .3s linear;
            -webkit-transition:all .3s linear;
            -o-transition:all .3s linear;
            -moz-transition:all .3s linear;}
        #search input:focus{
            outline:0;
            border:0;}
        #search input:focus::-webkit-input-placeholder{color:transparent;}
        #search input:focus:-moz-placeholder{color:transparent;}
        #search input:focus::-moz-placeholder{color:transparent;}
        #search input:focus:-ms-input-placeholder{color:transparent;}
        rgb(var(--Text))rch input[type=search]::-webkit-search-cancel-button{-webkit-appearance:none;}

@media (min-width:1001px){
    ::-webkit-scrollbar{
        width:17px;
        height:17px;
    }

    ::-webkit-scrollbar{background-color:rgb(var(--Accent));}

    ::-webkit-scrollbar-track{
        border:8px solid rgb(var(--Accent));
        background-color:rgb(var(--Background));
    }

    ::-webkit-scrollbar-thumb{
        border:8px solid rgb(var(--Accent));
        background-color:rgb(var(--Text));
        min-height:24px;
        min-width:24px;
        -webkit-border-radius:6px;
        border-radius:6px;
    }
}

@media (max-width:850px){
    ::-webkit-scrollbar{background-color:rgb(var(--Background));}
    ::-webkit-scrollbar-track{
        border:8px solid rgb(var(--Background));
        background-color:rgb(var(--Text));}
    ::-webkit-scrollbar-thumb{
        border:8px solid rgb(var(--Background));
        background-color:rgb(var(--Text));
    }
    iframe.tmblr-iframe{
        right:15px;
{block:ifShowTumblrControlsOnHover}
        right:0;
{/block:ifShowTumblrControlsOnHover}
    }
    .cc{right:15px;}
    main{width:calc(100vw);}
    section, footer{width:70%;}
    aside{display:none;}
    nav{
        order:4;
        max-width:100%;
        background:rgb(var(--Accent));
        padding:0;
        margin:0 auto;
        position:relative;
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -ms-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);}
    .main{
        display:block;
        padding:3em;
        margin:0;
        box-sizing:border-box;}
        .main li:before{
            font-size:0.8em;
            color:rgba((var(--Sidebar-Content)),0.65);
            display:inline-block;}
        .main li{
            width:calc(100% / 4);
            display:inline-block;
            vertical-align:top;
            margin-bottom:5px;
            box-sizing:border-box;
            opacity:1;
            text-align:left;}
            .main li:nth-child(odd){padding-right:15px;}
            .main li:last-of-type{margin:0 0 5px;}
            .main li a{color:rgba((var(--Sidebar-Content)),0.65);}
            .main li a.active{
                color:rgb(var(--Sidebar-Accent));
                background:none;}
            .main li a:hover{color:rgba((var(--Sidebar-Content)),1);}
}

@media (max-width:600px){
    .main li{width:calc(100% / 3);}
}

@media (max-width:480px){
    .main li{width:calc(100% / 2);}
}
